<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <title>pag0</title>
</head>
<body>
<div><h1>Inicio de Sesion</h1></div>

<div>
    <label>Usuario:</label>
    <input type="text" id="Usuario" name="Usuario">
    <br />
    <label> Contraseña:</label>
    <input type="text" id="Contraseña" name="Contraseña">
</div>
<div>
    <button type="button" onclick="location.href='C:/Users/Evo-i7/OneDrive/Escritorio/css/Inicio.html'">Iniciar Sesion</button>
</div>
<div>
    <p>Primera vez aqui?</p>
    <button type="button" onclick="location.href='C:/Users/Evo-i7/OneDrive/Escritorio/css/registro.html'">Registrarse</button>
</div>
</body>
</html>