<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
    <p>Registro de Usuarios</p></div>
<div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <br />
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido">
    <br />
    <label for="Pasaporte">Pasaporte:</label>
    <input type="text" id="Pasaporte" name="Pasaporte">
    <br />
    <label for="correo">Correo:</label>
    <input type="text" id="correo" name="correo">
    <br />
    <label for="contraseña">Contraseña:</label>
    <input type="text" id="contraseña" name="contraseña">
    <br />
    <label for="confirmar">Confirmar Contraseña:</label>
    <input type="text" id="confirmar" name="confirmar">
    <br />
    <label for="telefono">Telefono:</label>
    <input type="text" id="telefono" name="telefono">
    <br />
    <label for="Pais">Pais:</label>
    <input type="text" id="Pais" name="Pais">
</div>

<div>
    <button type="button" onclick="location.href='C:/Users/Evo-i7/OneDrive/Escritorio/css/Inicio.html'">Registrarse</button>
</div>

<div>
    <button type="button" onclick="location.href='C:/Users/Evo-i7/OneDrive/Escritorio/css/IniciarSesion.html'">Cancelar</button>
</div>
</body>
</html>